<%- include('../../layout/header.ejs') %>
<%- include('../../layout/nav.ejs') %>  
<div id="layoutSidenav">
    <%- include('../../layout/sideBar.ejs') %>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Add QR Code</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/qr-codes">Manage QR Codes</a></li>
                    <li class="breadcrumb-item active">Add QR Code</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                       
                        <div class="card-body">
                            <form class="col-md-6" action="/add-qr-code" method="post">
                                <div class="form-floating mb-3">
                                    <select class="form-control" name="checkpoint_id" required>
                                        <option value="">Select Checkpoint</option>
                                        <% for (var i = 0; i < checkpoint.length; i++) { %>
                                          <option value="<%= checkpoint[i].id %>"><%= checkpoint[i].checkpoint  %>-<%= checkpoint[i].checkpoint_no  %></option>
                                        <% } %>  
                                    </select>
                                    <label for="inputCheckpoint">Checkpoint No</label>
                                </div>
                                <input type="hidden" name="latitude" id="latitude">
                                <input type="hidden" name="lngtitude" id="lngtitude">
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="location" name="location" type="text" placeholder="Location" required/>
                                    <label for="inputLocation">Location</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <textarea class="form-control" name="details" id="inputdetails" type="text" placeholder="Details" required> </textarea>
                                    <label for="inputLocation">Details</label>
                                </div>
                                <div class="mt-4 mb-0">
                                    <div class="d-grid"><button type="submit" class="btn btn-primary btn-block">Create QR Code</button></div>
                                </div>
                            </form>
                         
                        </div>
                    </div>
                </div>
               </div>
        </main>
    </div>
</div>

<%- include('../../layout/footer.ejs') %>


<input type="text" id="address" style="width: 500px;"></input>

        