<%- include('../../layout/header.ejs') %>
<%- include('../../layout/nav.ejs') %>  
<style>
  table tr td {
    display: inline;
  }
</style>
<div id="layoutSidenav">
    <%- include('../../layout/sideBar.ejs') %>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">View checkpoints</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active">View checkpoints</li>
                </ol>
                
                <div class="card mb-4">
                    <div class="card-body row">
                        <div class="col-sm-4">
                          <input type="hidden" id="vehicle_id" value="<%= vehicle_id%>" >
                          <table>
                            <% for (var i = 0; i < checkPoints.length; i++) { %>
                              <tr style="border-bottom:1px solid;">
                                <td><%=i+1%>-</td>
                                <td> <%=checkPoints[i].checkpoint_location%>-	  </td>
                                <td><b> <%= checkPoints[i].updated_on ? 'Scanned at :'+moment(checkPoints[i].updated_on).format('DD MMM, YYYY') :'Not Scanned Yet'%></b></b></td>
                              </tr>
                              <% } %>
                          </table>
                        </div>
                        <div class="col-sm-8">
                          <div id="checkpoint_pins" style="width: 100%; height: 400px;"></div>

                        </div>
                       

                    </div>
                </div>
                </div>
        </main>
    </div>
</div>
<%- include('../../layout/footer.ejs') %>

<script type="text/javascript">
    $(document).ready(function(){
      var vehicle_id = $("#vehicle_id").val();
      var request = $.ajax({
        url: "/get-location-lat-lng?vehicle_id=" + vehicle_id,
        type: "GET",
      });

      request.done(function (data) {
         var locations =  data.data;
 
      var map = new google.maps.Map(document.getElementById('checkpoint_pins'), {
        zoom: 15,
        center: new google.maps.LatLng(locations[0][1], locations[0][2]),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
       
      });
      
      
      var infowindow = new google.maps.InfoWindow();

      var marker, i;
      
      for (i = 0; i < locations.length; i++) {  
        var url = "assets/img/";
        url += locations[i][3];
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map,
          icon: {
            url: url,
            scaledSize: new google.maps.Size(38, 38)
          }
        });
        
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
          }
        })(marker, i));
      }

      })
      

    })
    
  </script>