<%- include('../../layout/header.ejs') %>
<%- include('../../layout/nav.ejs') %>  
<div id="layoutSidenav">
    <%- include('../../layout/sideBar.ejs') %>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">View Vehicle</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/vehicle">Vehicles</a></li>
                    <li class="breadcrumb-item active">View vehicle</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        <input type="hidden" id="vehicle_id" value="<%= vehicle_id%>" >
                        <div id="Vehicle_location" style="width:100%;height:500px;margin-bottom: 15px;" ></div>
                    </div>
                </div>
                </div>
        </main>
    </div>
</div>
<%- include('../../layout/footer.ejs') %>

<script>
    $(document).ready((function () {
        var vehicle_id  = $("#vehicle_id").val();
        var request = $.ajax({
            url: "/get-vehicle-by-id?id=" + vehicle_id,
            type: "GET",
        });
        request.done(function (data) {
            var res = data.data;
            if(res) {
                initMap(JSON.parse(res[0].lat_lng));
            }
          
        });
        request.fail(function (jqXHR, textStatus) {
             alert('error');
        });
    }))
    function initMap(LatLng) {
        const map = new google.maps.Map(document.getElementById("Vehicle_location"), {
            zoom: 15,
            center: LatLng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
        });
        new google.maps.Marker({
            position: LatLng,
            map,
            title: "Hello World!",
        });
     
  }
</script>
