<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menu</div>
                <a class="nav-link <%= (url == '/') ? 'active' : '' %>" href="/">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard 
                </a>
               
                <a class="nav-link <%= (url == '/vehicle' || url == '/add-vehicle' || url == '/edit-vehicle' || url == '/track-vehicle' || url == '/view-vehicle') ? 'active' : '' %>" href="vehicle">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Manage Vehicles
                </a>
                <!-- <a class="nav-link <%= (url == '/qr-codes' || url == '/add-qr-code' || url == '/edit-qr-code') ? 'active' :'' %>" href="qr-codes">
                    <div class="sb-nav-link-icon"><i class="fas fa-qrcode"></i></div>
                    Manage QR Code
                </a> -->
                <a class="nav-link <%= (url == '/cities' || url == '/add-city' || url == '/edit-city') ? 'active' :'' %>" href="cities">
                    <div class="sb-nav-link-icon"><i class="fas fa-city"></i></div>
                    Manage Cities 

                </a>
                <a class="nav-link <%= (url == '/locations' || url == '/add-location' || url == '/edit-location') ? 'active' :'' %>"" href="locations">
                    <div class="sb-nav-link-icon"><i class="fas fa-map-marker"></i></div>
                    Manage locations
                </a>
                <a class="nav-link <%= (url == '/checkpoints' || url == '/add-checkpoint' || url == '/edit-checkpoint') ? 'active' :'' %>" href="checkpoints">
                    <div class="sb-nav-link-icon"><i class="fas fa-map-pin"></i></div>
                    Manage Checkpoints
                </a>

                <a class="nav-link <%= (url == '/view-photos' || url == '/add-photos' || url == '/edit-photos') ? 'active' :'' %>" href="view-photos">
                    <div class="sb-nav-link-icon"><i class="far fa-image"></i></div>
                    View Photos
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as: Sumit</div>
             
        </div>
    </nav>
</div>