<%- include('../layout/header.ejs') %>
<%- include('../layout/nav.ejs') %>  
<style>
    .dataTable-search input {
        width: 19%;
        float: right;
    }
    .filter_ {
        position: relative;
        top: 14%;
        left: 0;
        right: 0;
    }
    .drop_ {
        position: absolute;
        top: -12px;
        left: 12px;
        right: 0%;
    }
</style>
<div id="layoutSidenav">
    <%- include('../layout/sideBar.ejs') %>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div class="row">
                    <div class="row g-2 filter_">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4 drop_">
                            <div class="form-floating">
                                <select onchange="getCity()" class="form-select" id="city_id" aria-label="Floating label select example">
                                  <option value="">All Cities</option>
                                  
                                  <% for (var i = 0; i < city.length; i++) { %>
                                    <option value="<%= city[i].id%>" <%=city_id == city[i].id ? 'selected' :'' %>><%= city[i].city%></option>
                                  <% } %>  
                                </select>
                                <label for="floatingSelectGrid">Cities </label>
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div> 
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Driver Name/ Vehicle</th>
                                <th>CheckPoints</th>
                                <th>Track CheckPoint</th>
              
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Driver Name / Vehicle</th>
                                <th>CheckPoints</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <% for (var i = 0; i < dbrespV.length; i++) { 
                                var checkpoints = dbrespV[i].checkpoint_location.split('~%');
                                
                            %>
                                <tr>
                                    <td><b><%= dbrespV[i].driver_name %></b>/ <%= dbrespV[i].vehicle_number %></td>
                                    <td>
                                        <% for (var j = 0; j < checkpoints.length-1; j++) { %>
                                         <p><b>CheckPoint <%= j+1%></b>/ <%= j==0 ? checkpoints[j] :checkpoints[j].substring(1)%></p>
                                        <% } %>
                                    </td>
                                    <td>
                                        <a href="track-checkpoints?v_id=<%= dbrespV[i].vehicle_id %>" class="btn btn-warning" >Track</a>
                                    </td>
                                
                                </tr>
                              <% } %>  

                            
                        </tbody>
                    </table>         
                    <!-- <div class="col-xl-6 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">Total Users (50)</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="users">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body">Total QR Codes (60)</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="qr-codes">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body">Success Card</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body">Danger Card</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div> -->
                </div>
              
            </div>
        </main>
        <!-- <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer> -->
    </div>
</div>
<%- include('../layout/footer.ejs') %>
<script>
    function getCity() {
       var city_id = $("#city_id").val();
       if(city_id){
         window.location = "?c_id="+city_id;
       } else {
          window.location = "?c_id=";
       }
       
    }
</script>